.spec h1 {
  font-size: 20px;
  border-bottom: 3px solid;
  padding-bottom: 8px;
}

.title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

.title h1 {
  flex: 1;
}
